[Desktop Entry]
Categories=Game;AdventureGame;
Comment=2D RPG game
Exec=/usr/bin/java -jar /usr/share/games/shattered-pixel-dungeon/shattered.jar
Icon=
Name=Shattered Pixel Dungeon
Terminal=false
Type=Application
